.col {
        text-align: start;
        unicode-bidi: plaintext;
}
search-bar-container {
    width: 360px;
    margin: 10px;
    height: 52px;
    position: relative;
    direction: rtl;
}

input.search-bar {
    width: 360px;
}

.search-bar {
    direction: rtl;
    background: transparent;
    border: 1px solid #f6f6f6;
    font-size: 15px;
    padding-left: 30px;
    color: #4e5860;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
}
.search-bar:focus {
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.search-bar-icon {
    position: absolute;
    left: 12px;
    top: 16px;
    font-size: 22px;
    color: #ac0a0ad1;
}
.line-height-1 {
    line-height: 1;
}
.search-result {
    direction: rtl;
    z-index: 10;
    position: absolute;
    top: 72px;
    width: 360px;
    max-height: 350px;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
}
.list-group-item {
    cursor: pointer;
    padding: 0.5rem 1.2rem;
}
ul.list-group {
    padding: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .3rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item.active,
.list-group-item:hover {
    background-color: #e1e3e5;
    border-color: #d3d5d7;
}
