.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  margin-right: 4%;
  margin-left: 4%;
}
.gridDesign {
  margin-top: 2%;
  margin-right: 4%;
  margin-left: 4%;
}

button {
  color: #1f84e0;
  background: none;
  border: none;

  /* this line was missing */
  text-align: right;
}
button:hover {
  color: blue;
  text-decoration: underline;
}
button + button {
  margin-left: 0.5rem;
}
.rowFilterPost {
  display: flex;
  flex-direction: row;
  background: rgb(169, 206, 248);
}
.rowFilter {
  display: flex;
  flex-direction: row;
  background: rgb(238, 238, 196);
}

.col-sm-2 {
  text-align: right;
  border: 1px solid rgb(167, 167, 151);
  flex: margin-left;
  display: block;
  flex-flow: row wrap;
}

@media all and (max-width: 600px) {
  .rowFilter {
    display: block;
  }
}

body {
  direction: rtl;
}

a {
  font-size: 16px;
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  display: block;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem 1rem 2rem;
  }
}
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
