.cardEdit {
    width: 75%;
    margin: 20px;
}
/* 
.blocks {
    
} */

/* .ForumCardblock {
    width: 75%;
    
}

 .FilterBlocks{
    position: absolute;
    right: 50px;
    width: 200px;
    height: 120px;
    border: 3px solid gree
}  */

 