.cardEdit {
    width: 50%;
    margin: 20px;
    border-radius: 10px;
    border: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.1rem 1rem 0.8rem 1rem;
}

.badge-male{
    background-color: #002bff;
    color:white;
}
.badge-female{
    background-color: #dc35a1;
    color: white;
}
.badge-frontal{
    
    background-color: #69d38a;
    color: white;
}

.card-body {
    background-color: rgb(234 237 239);
    border: outset;
    box-shadow: 1px 2px;
    border-radius: 10px;
}

@media all and (max-width: 600px) {
    .cardEdit {
    width: 90%;
    margin: 10px;
  }
}
.bootstrapCard{
    border-radius: 50px;
}

/* 
.blocks {
    
} */

/* .ForumCardblock {
    width: 75%;
    
}

 .FilterBlocks{
    position: absolute;
    right: 50px;
    width: 200px;
    height: 120px;
    border: 3px solid gree
}  */

 