

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;

}

.col-9 {
    padding: 0 10px 0 0;
}

.cardEdit {
    width: 65%;
    margin: 20px 70px 20px 0;
    border-radius: 10px;
    border: none;
    justify-items: stretch;
}


.myGenderBadge{
    border-radius: 25px;
}


.badge:hover {
    flex: 1 1 auto;
}


.badge-male{
    background-color: #002bff;
    color:white;
    width: 60px;
}

.badge-good {
    width: 195px;
}


.badge-female{
    background-color: #dc35a1;
    color: white;
    width: 60px;
}

.badge-zoom{
    background-color:#007bff;
    color: white;
    width: 60px;
}

.badge-frontal{
    
    background-color: #69d38a;
    color: white;
}

.card-body {
    background-color: rgb(234 237 239);
    border: outset;
    box-shadow: 1px 2px;
    border-radius: 10px;
}

@media all and (max-width: 600px) {
    .cardEdit {
    width: 100%;
    margin: 10px 10px 10px 0px;
  }
}