.navigationbar{
    margin-left: 100;
    position: sticky;
    top: 0;
    z-index: 9
}
.navbar-brand{
    margin-left: 10%;
}

.auth{
    color: black;
    margin: auto;
}
.mr-auto, .mx-auto {
    float: right;
}