.App {
    font-family: sans-serif;
    text-align: center;
  }

  .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem 0;
}

.modal-body {
  position: relative;
  padding: 0.5rem;
}


  .rowFilterPost {
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
}

  body {
    direction: rtl;
  }
  p.specialP {
    color: red;
  }
  .modal-header .close {
    padding: 1rem 2rem;
    margin: -1rem -1rem -1rem auto;
  }
  .ButtonW {
    background-color: transparent !important;
    color: grey !important;
    width: 50% !important;
    margin-left: 10% !important;
    margin-top: 2% !important;
    text-align: right !important;
    border-radius: 20px !important;
  }
  .ButtonW:hover {
    background-color: transparent !important;
    color: grey !important;
    cursor: text !important;
  }
  .Headline {
    background-color: transparent;
    color: grey;
    width: 80% !important;
    margin-left: 10%;
    margin-top: 1%;
    text-align: right;
    border-radius: 20px;
  }
  .Description {
    background-color: transparent;
    color: grey;
    width: 80% !important;
    margin-left: 10%;
    margin-top: 1%;
    text-align: right;
    border-radius: 20px;
  }
  .buttonD {
    direction: rtl;
    margin: 1%;
  }
  