.App {
    font-family: sans-serif;
    text-align: center;
  }
  body {
    direction: rtl;
  }
  p.specialP {
    color: red;
  }
  .modal-header .close {
    padding: 1rem 2rem;
    margin: -1rem -1rem -1rem auto;
  }
  .ButtonW {
    background-color: transparent;
    color: grey;
    width: 50% !important;
    margin-left: 10%;
    margin-top: 2%;
    text-align: right;
    border-radius: 20px;
  }
  .ButtonW:hover {
    background-color: transparent;
    color: grey;
    cursor: text;
  }
  .Headline {
    background-color: transparent;
    color: grey;
    width: 80% !important;
    margin-left: 10%;
    margin-top: 2%;
    text-align: right;
    border-radius: 20px;
  }
  .Description {
    background-color: transparent;
    color: grey;
    width: 80% !important;
    margin-left: 10%;
    margin-top: 2%;
    text-align: right;
    border-radius: 20px;
  }
  .buttonD {
    direction: rtl;
    margin: 2%;
  }
  